/vendor
/node_modules

storage/*
!storage/.gitignore

bootstrap/cache/*
!bootstrap/cache/.gitignore

/public/build
/public/hot
/public/storage

.env
.env.*

npm-debug.log
yarn-error.log

.idea
.vscode
.fleet
.nova
.zed
